*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
@font-face {
    font-family: 'Lemon Milk';
    src: url('path-to-lemon-milk.woff2') format('woff2'),
         url('path-to-lemon-milk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Lemon Milk', sans-serif;
  }
.container {
    max-width: 1440px;
    margin: 0 auto;
}  
.header-logo{
    cursor:pointer;
}
.headerpart{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:16px 100px;
    border-bottom: 1px solid #CCD7E2;
    background:  #FFF;
}

.header-content{
    display:flex;
    align-items: center;
    gap:48px;
}

.H-list {
    list-style: none;
    display:flex;
    gap:48px;
    cursor: pointer;
}
.H-list li:hover{
    color:#a6c7f3;
}

.H-list li{
    display:flex;
    align-items: center;
}
.header-button button{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap:8px;
    border-radius: 36px;
    border: 1px solid  #D0DDF4;
    background-color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* transition: box-shadow 0.4s ease; */
}
.header-button button:hover{
    background-color: #a6c7f3;
    /* box-shadow: 0 0 10px #3498db, 0 0 20px #3498db, 0 0 30px #3498db; */
}

.navbar{
    display:flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    
}
.navbar{
    display:none;
}
.navbar .black{
    border-bottom: 3px solid #000000;
    border-radius:100px;
    background: #FFF;
    width:32px;
    cursor: pointer;
}
.navbar .grey{
    border-bottom: 3px solid #737373;
    border-radius:100px;
    background: #FFF;
    width:32px;
}
.container1{
    position:relative;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:40px 100px;
}
.container1-content{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis:40%;
    gap:24px;
}
.c1-heading{
    gap:12px;
}
.container1-content h2{
    color: #0E0E0F;
    font-family: "Manrope";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.96px;
}
.container1-content p{
    color: #4C4D52;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
.container1-content button{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:16px 24px;
    gap:8px;
    border-radius: 32px;
    background: #1F396C;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

button:hover{
    background-color: #274c96;
}


.container1-image img{
    width:90%;
}
.container1-image{
    display:flex;
    justify-content: flex-end;
    width:62%;
}
/* .container1-image img{
    border-top-right-radius: 40%;
    border-bottom-left-radius:40%;
    box-shadow: -15px 15px 0px 0px #E9EBF0;
} */
/* .maintopleft {
    position:absolute;
    right: 538.638px;
    top: 86px;
}
.mainbottom1 {
    position:absolute;
    right: 384.638px;
    bottom: 150px;
}
.mainbottom2{
    position: absolute;
    right: 369.638px;
    bottom: 80px;
}
.maintopright{
    position: absolute;
    right: 55.638px;
    top: 192px;
} */

.container2{
    padding:80px 100px;
}
.c2-heading h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:80px;
    color:#0E0E0F;
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.8px;
}
.c2-content{
    display: flex;
    align-items: flex-start;
    gap:80px;
}
.c2-image img{
    border-radius: 4px;
    background: #F1F8FF;
    padding:10px;
}
.c2-details{
    display:flex;
    flex-direction: column;
    gap:12px;
}
.c2-uses{
    display: flex;
    flex-direction: column;
    gap:8px;
}
.c2-uses p1{
    color: #0E0E0F;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}
.c2-uses p2{
    color: #4C4D52;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.offer{
    background: #F1F8FF;
}
.container3{
    padding:80px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:80px;
}
.container3-heading h2{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #0E0E0F;
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.8px;
}
.c3-content{
    display:flex;
    gap:80px;
    padding:0px 40px;
}
.c3-content-reverse{
    display:flex;
    flex-direction: row-reverse;
    gap:80px;
    padding:0px 40px;
}
.c3info{
    display:flex;
    flex-direction: column;
    gap:44px;
}
.c3-image img{
    width:75%;
}
.c3-details{
    display:flex;
    flex-direction: column;
    gap:16px;
}
.c3-details h2{
    color: #0E0E0F;
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}
.c3-details p{
    color: #4C4D52;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.c3-button button{
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 4px;
    border-radius: 44px;
    background: #1F396C;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
}
button:hover{
    background-color: #274c96;
}

.c3-image{
    display:flex;
    justify-content:center;
}
.container4{
    padding:80px 100px;
    display:flex;
    align-items: flex-start;
    justify-content:space-between;
}
.c4-content{
    display:flex;
    flex-direction:column;
    flex-basis: 30%;
}
.c4-content h2{
    color: #0E0E0F;
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.8px;
}
.c4-content p{
    color:#4C4D52;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.c4-questions .question p{
    color: #0E0E0F;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.c4-questions .answer p{
    color: #4C4D52;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.question {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    cursor: pointer;
}
.answer{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 0px 0px 12px 12px;
    background: #F1F8FF;
}
.c4-questions .click p{
    color: #FFF;
    
}
.c4-questions .click{
    border-radius: 12px 12px 0px 0px;
    background: #1F396C;
}
.getin{
    background: #1F396C;
}
.container5{
    padding: 80px 100px;
    display:flex;
    align-items: center;
    gap:80px;
}

.invalid{
    position:absolute;
    bottom: 276px;
    color: #ED4337;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.c5-info{
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 16px;
    background: #FFF;
    position:relative;
}
.c5-heading{
    display:flex;
    flex-direction:column;
    gap: 10px;
}

.c5-heading h2{
    color:#0E0E0F;
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    letter-spacing: -0.8px;
}
.c5-heading p{
    color: #4C4D52;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.c5-form form{
    display:flex;
    flex-direction: column;
    gap:32px;
}
.c5-form{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:32px;
}

.form-column label{
    color: #0E0E0F;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.form-row input{
    /* color: #95979D; */
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #CFD0D2;
    background: #FAFAFA;
    width:280px;
}

.form-row{
    display:flex;
    gap:32px;

}
.form-column{
    display:flex;
    flex-direction: column;
    gap:12px;

}
.form-last input{
    color: #95979D;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    display: flex;
    height: 100px;
    /* width:566px; */
    padding: 12px 16px;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #CFD0D2;
    background: #FAFAFA;

}
.c5-button button{
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 8px;
    border-radius: 44px;
    background: #1F396C;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    cursor: pointer;
}


.c5-image img{
    border-top-right-radius: 30% 30%;
    clip-path: polygon(0 0, 100% 0, 100% 155%, 0% 80%)
}

.footercontainer{
    padding:60px 100px;
}
.footer-top{
    /* display: flex;
    justify-content: space-between;
    align-items: flex-start; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(82, 84, 89, 0.2); 

}
.service-items p{
    color:#4C4D52;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    white-space: nowrap;
}
.contact-info p,.mail-info p,.address-info p{
    color:#4C4D52;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.footer-image{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 23%;
    gap:20px;
}
.footer-content p{
    color: #0E0E0F;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.fimage{
    padding: 6px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    background: #F4F5F6;
    cursor: pointer;
}
.list-headings{
    color: #0E0E0F;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
.contact-mail .number ,.contact-mail .mail ,.address .direction {
    display: flex;
    padding: 4px 0px;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    max-width: fit-content;
    border-bottom: 1px solid  #4C4D52;
    cursor: pointer;
}

.number:hover ,.mail:hover ,.direction:hover{
    color:#a6c7f3;
}
.footer-logo{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:14px;
}
.footer-logo img{
    cursor:pointer;

}
.service{
    display: flex;
    flex-direction: column;
    gap:14px;
    cursor: pointer;
}
.service-items{
    display:flex;
    flex-direction: column;
    gap:12px;
    cursor: pointer;
}
.contact-mail{
    display:flex;
    flex-direction: column;
    gap:32px;
}
.contact-info,.mail-info{
    display:flex;
    flex-direction: column;
    gap:14px;
}
.address{
    display: flex;
    flex-direction: column;
    gap:14px;
    flex-basis:22%;
}
.address-info{
    display:flex;
    flex-direction: column;
    gap:12px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}
.footer-left{
    display:flex;
    align-items: flex-start;
}
.footer-bottom p{
    color: #4C4D52;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}
.footer-right{
    display:flex;
    gap:24px;

}


@media screen and (max-width:1024px){
    .container1{
        padding:20px;
    }
    .container1-image img{
        width:90%;
    }
    .container1-image{
        display:flex;
        justify-content: flex-end;
        width:62%;
    }
    /* .container1-image{
        display: flex;
        justify-content:center;
    } */
    /* .maintopleft {
        position: absolute;
        right: 458.638px;
        top: 70px;
    }
    .mainbottom1 {
        position:absolute;
        right: 306.638px;
        bottom: 133px;
    }
    .mainbottom2{
        position: absolute;
        right: 292.638px;
        bottom: 60px;
    }
    .maintopright{
        position: absolute;
        right: -12.362px;
        top: 186px;
    } */

    .container2,.container3,.container4{
        padding:60px 20px;
    }
    .container5{
        display: flex;
        flex-direction:column;
        align-items: center;
        padding: 60px 100px;
    }
    .footercontainer{
        padding:60px 20px;
    }
}
@media screen and (max-width:990px){
    /* .logo img{
        width:23px;
        height:23px;
    } */
    .headerpart{
        padding:20px;
    }
    .navbar{
        /* display:block; */
        display:flex;
        flex-direction: column;
        gap:8px;
    }
    .header-list ,.header-button{
        display:none;
    }
    .container1{
        display:flex;
        flex-direction:column;
        padding:60px 20px;
        gap:60px;
        text-align: right; 
    }

    .container1-image img{
        width:100%;
    }
    .container1-image{
        display:flex;
        justify-content: flex-end;
        width:95%;
    }
    /* .container1-image img{
        width:100%;
    } */
    .container1-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    /* .maintopleft{
        width: 31%;
        left: -11px;
        top: 470px;
    }
    .mainbottom1{
        width: 50%;
        left: 28px;
        bottom: 157px;
    }
    .mainbottom2{
        width: 52%;
        left: 27px;
        bottom: 80px;
    }
    .maintopright{
        width: 17%;
        right: 64px;
        top: 512px;
    } */
     .container2{
        padding:40px;
     }
    .c2-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .container3{
        padding:40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:40px;
    }
    .container3-heading h2{
        color: #0E0E0F;
        font-family: Manrope;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
    }
    .c3-content{
        display:flex;
        flex-direction: column;
        gap:40px;
        padding:10px;
    }
    .c3-content-reverse{
        display:flex;
        flex-direction: column;
        gap:40px;
        padding:10px;
    }
    .c3info{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:30px;
    }
    .c3-image img{
        width:75%;
    }
    .c3-details{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:16px;
    }
    .c3-details h2{
        color: #0E0E0F;
        font-family: Manrope;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
    }
    .c3-details p{
        color: #4C4D52;
        text-align: center;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
    .c3-button button{
        display: flex;
        padding: 12px 24px;
        align-items: center;
        justify-content: center;
        gap: 4px;
        border-radius: 44px;
        background: #1F396C;
        color: #FFF;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    .container4{
        padding:40px;
        display:flex;
        flex-direction: column;
        justify-content:center;
    }
    .c4-content{
        display:flex;
        flex-direction:column;
        align-items: center;
        text-align: center;
        /* justify-content: center; */
        gap:12px;
        /* flex-basis: 30%; */
    }
    .c4-content h2{
        color: #0E0E0F;
        font-family: Manrope;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: -0.8px;
    }
    .c4-content p{
        color:#4C4D52;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
    
    .c4-questions .question p{
        color: #0E0E0F;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
    .c4-questions .answer p{
        color: #4C4D52;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
    .question {
        display: flex;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }
    .answer{
        display: flex;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border-radius: 0px 0px 12px 12px;
        background: #F1F8FF;
    }
    .c4-questions .click p{
        color: #FFF;
        
    }
    .c4-questions .click{
        border-radius: 12px 12px 0px 0px;
        background: #1F396C;
    }

    .footer-top{
        display:flex;
        flex-direction:column;
    }
}
@media screen and (max-width:550px){
    .header-part{
        padding:20px
    }
    .container1-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .container1-content button{
       padding:12px 20px;
    }
    .container1-content h2{
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
    }

    .container1-image img{
        width:126%;
    }
    .container1-image{
        display:flex;
        justify-content: center;
        width: 77%;
    }

    /* .container1-image{
        width:84%;
    } */
    /* .maintopleft{
        width: 30%;
        left: 21px;
        top: 428px;
    }
    .mainbottom1{
        width: 50%;
        left: 28px;
        bottom: 127px;
    }
    .mainbottom2{
        width: 52%;
        left: 27px;
        bottom: 86px;
    }
    .maintopright{
        width: 17%;
        right: 3px;
        top: 494px;
    } */
    .container2{
        padding:60px 20px;
    }
    .c2-heading h2{
        padding-bottom:44px;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
    }
    .c2-content{
        display: flex;
        align-items: flex-start;
        gap:32px;
    }
    .c2-image img{
        border-radius: 4px;
        background: #F1F8FF;
        padding:10px;
    }
    .c2-details{
        display:flex;
        flex-direction: column;
        gap:12px;
    }
    .c2-uses{
        display: flex;
        flex-direction: column;
        gap:8px;
    }
    .c2-uses p1{
        color: #0E0E0F;
        font-family: "DM Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
    }
    .c2-uses p2{
        color: #4C4D52;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }

    .container3{
        padding:60px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:44px;
    }
    .container3-heading h2{
        color: #0E0E0F;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
    }
    .c3-content{
        display:flex;
        flex-direction: column;
        gap:20px;
        padding:0px;
    }
    .c3-content-reverse{
        display:flex;
        flex-direction:column;
        gap:20px;
        padding:0px;
    }
    .c3info{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
    .c3-image img{
        width:75%;
    }
    .c3-details{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:12px;
    }
    .c3-details h2{
        color:#0E0E0F;
        font-family: "DM Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
    }
    .c3-details p{
        color: #4C4D52;
        text-align: center;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; 
    }
    .c3-button button{
        display: flex;
        padding: 12px 24px;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        gap: 4px;
        border-radius: 44px;
        background: #1F396C;
        color: #FFF;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    .container4{
        padding:60px 20px;
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:44px;

    }
    .c4-content{
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .c4-content h2{
        color:#0E0E0F;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
    }
    .c4-content p{
        color: #4C4D52;
        text-align: center;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
    
    .c4-questions .question p{
        color: #0E0E0F;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
    .c4-questions .answer p{
        color: #4C4D52;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
    .question {
        display: flex;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }
    .answer{
        display: flex;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border-radius: 0px 0px 12px 12px;
        background: #F1F8FF;
    }
    .c4-questions .click p{
        color: #FFF;
        
    }
    .c4-questions .click{
        border-radius: 12px 12px 0px 0px;
        background: #1F396C;
    }

    .container5{
        padding: 60px 20px;
        display:flex;
        align-items: center;
        gap:80px;
    }
    .invalid{
        display:none;
    }
    .c5-info {
        display: flex;
        flex-direction: column;
        /* align-items: center;
        text-align: center; */
        gap: 32px;
        border-radius: 16px;
        background: #FFF;
    }
    .c5-heading{
        display:flex;
        flex-direction:column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
    
    .c5-heading h2{
        color:#0E0E0F;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
    }
    .c5-heading p{
        color: #4C4D52;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
    
    .c5-form form{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        gap:32px;
    }
    .c5-form{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        gap:32px;
    }
    
    .form-column label{
        color: #0E0E0F;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; 
    }
    .form-row input{
        color: #95979D;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        display: flex;
        padding: 12px 16px;
        align-items: center;
        gap: 4px;
        align-self: stretch;
        border-radius: 12px;
        border: 1px solid #CFD0D2;
        background: #FAFAFA;
        width:250px;
    }
    
    .form-row{
        display:flex;
        flex-direction: column;
        gap:24px;
    
    }
    .form-column{
        display:flex;
        flex-direction: column;
        gap:12px;
    
    }
    .form-last input{
        color: #95979D;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        display: flex;
        height: 100px;
        padding: 12px 16px;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;
        border-radius: 12px;
        border: 1px solid #CFD0D2;
        background: #FAFAFA;
    
    }
    .c5-button button{
        display: flex;
        padding: 12px 24px;
        align-items: center;
        gap: 8px;
        border-radius: 44px;
        background: #1F396C;
        color: #FFF;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
    }

    .c5-image{
        display:none;
    }

    .footercontainer{
        padding:60px 20px;
    }
    .footer-top{
        gap:40px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column;
        padding-top: 24px;
    }
}

